<div *ngIf="!recipe; then noRecipe else hasRecipe">
</div>

<ng-template #noRecipe>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 text-center">
          <i *ngIf="!failure" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span *ngIf="failure" class="text-danger">{{failure}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #hasRecipe>
  <form [formGroup]="recipeForm" (ngSubmit)="save()">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group" [class.has-error]="recipe.formErrors.name">
                  <div class="input-group">
                    <input [ngModel]="recipe.name | titlecase" (ngModelChange)="updateRecipeName($event)" type="text" class="form-control" formControlName="name"
                      required placeholder="Name" autocomplete="off">
                  </div>
                  <div *ngIf="recipe.formErrors.name">
                    <span class="text-danger field-validation-error">{{ recipe.formErrors.name }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-muted">Recipe Group: </span>
                <span class="text-info">{{recipe.recipeType.name | titlecase}}</span>
              </div>
            </div>
            <br/>

            <ng-container *ngTemplateOutlet="recipeIngredients"></ng-container>
            <br/>
            <ng-container *ngTemplateOutlet="recipeSteps"></ng-container>

            <br/>
            <div class="row" *ngIf="failure">
              <div class="col-sm-12">
                <div>
                  <span class="text-danger field-validation-error">{{failure}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-6 text-left">
                <button type="button" class="btn btn-sm btn-primary" (click)="goBack()">Cancel</button>
              </div>
              <div class="col-xs-6 text-right">
                <div class="btn-group btn-group-sm" role="group">
                  <button *ngIf="recipe && recipe.id && recipe.id.length > 0" type="button" class="btn btn-danger" (click)="delete()">Remove</button>
                  <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #recipeIngredients>
  <div class="panel panel-primary">
    <div class="panel-heading pointer" data-toggle="collapse" data-target="#collapseIngredients" aria-expanded="true" aria-controls="collapseIngredients">Ingredients</div>
    <div class="panel-body list-ingredients collapse in" id="collapseIngredients">
      <ul class="list-group" *ngIf="recipe.hasItems()">
        <li *ngFor="let item of recipe.recipeItems; let idx = index" class="list-group-item pointer" data-toggle="modal" data-target="#itemFormModal"
          (click)="selectItem(idx, item)">
          <div class="row">
            <div class="col-xs-9">
              {{item.item.name | titlecase}}
              <span class="text-muted" *ngIf="item.instructions">
                <em>({{item.instructions | lowercase}})</em>
              </span>
            </div>
            <div class="col-xs-3 text-right">
              <span class="text-primary"><strong>{{item.amount}} {{item.item.unitType | lowercase}}</strong></span>
            </div>
          </div>
        </li>
      </ul>
      <div class="row">
        <div class="col-sm-12 text-center">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#itemFormModal" (click)="selectItem(-1)"><i class="fa fa-plus"></i> Ingredient</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #recipeSteps>
  <div class="well" *ngFor="let step of recipe.recipeSteps; let idx = index">
    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="btn btn-sm btn-primary" *ngIf="!isFirstStep(idx)" (click)="moveUp(idx)">
          <i class="fa fa-arrow-up"></i>
        </button>

      </div>
      <div class="col-xs-2">
        <h4 class="text-primary">{{step.stepNumber}}</h4>
      </div>
      <div class="col-xs-8">{{step.description}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-left">
        <button type="button" class="btn btn-sm btn-primary" *ngIf="!isLastStep(idx)" (click)="moveDown(idx)">
          <i class="fa fa-arrow-down"></i>
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#stepFormModal" (click)="selectStep(idx, step)"><i class="fa fa-edit"></i> Edit</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#stepFormModal" (click)="selectStep(-1)"><i class="fa fa-plus"></i> Cooking Step</button>
    </div>
  </div>
</ng-template>

<!-- Modal for recipe step -->
<div class="modal" id="stepFormModal" tabindex="-1" role="dialog" *ngIf="selectedStep">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Recipe Step</h4>
      </div>

      <form [formGroup]="stepForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" [class.has-error]="selectedStep.formErrors.description">
                <div class="input-group">
                  <textarea [(ngModel)]="selectedStep.description" class="form-control" rows="5" formControlName="description" required placeholder="Enter cooking steps..."></textarea>
                </div>
                <div *ngIf="selectedStep.formErrors.description">
                  <span class="text-danger field-validation-error">{{ selectedStep.formErrors.description }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal">Close</button>
          <div class="btn-group btn-group-sm" role="group">
            <button *ngIf="selectedStep && selectedStepIdx >= 0" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteStep()">Remove</button>
            <button type="button" class="btn btn-success" [disabled]="!stepForm.valid" data-dismiss="modal" (click)="saveStep()">Save</button>
          </div>

        </div>
      </form>


    </div>
  </div>
</div>

<!-- Modal for recipe item -->
<div class="modal" id="itemFormModal" tabindex="-1" role="dialog" *ngIf="selectedItem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Recipe Ingredient</h4>
      </div>

      <form [formGroup]="itemForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" [class.has-error]="selectedItem.formErrors.name">
                <div class="input-group">
                  <input [ngModel]="selectedItem.item.name | titlecase" (ngModelChange)="updateItemName($event)" type="text" class="form-control"
                    formControlName="name" required placeholder="Name" autocomplete="off" (keyup)="search()">
                </div>
                <div *ngIf="selectedItem.formErrors.name">
                  <span class="text-danger field-validation-error">{{ selectedItem.formErrors.name }}</span>
                </div>
                <div class="typeahead">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let searchResult of itemsSearchResult | async" (click)="selectSearchItem(searchResult)">
                      {{searchResult.name | titlecase}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" [class.has-error]="selectedItem.formErrors.amount">
                <div class="input-group">
                  <input [(ngModel)]="selectedItem.amount" type="number" class="form-control" formControlName="amount" required placeholder="Amount"
                    autocomplete="off">
                </div>
                <div *ngIf="selectedItem.formErrors.amount">
                  <span class="text-danger field-validation-error">{{ selectedItem.formErrors.amount }}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <div class="input-group">
                  <input [ngModel]="selectedItem.item.unitType | lowercase" (ngModelChange)="updateUnit($event)" type="text" placeholder="Unit. (e.g. tsp)"
                    class="form-control" formControlName="unitType" />
                </div>
              </div>
            </div>
          </div>
          <br/><br/>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <input [ngModel]="selectedItem.instructions | lowercase" (ngModelChange)="updateInstructions($event)" type="text" class="form-control"
                    formControlName="instructions" placeholder="Notes. (e.g. diced)" autocomplete="off">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal">Cancel</button>
          <div class="btn-group btn-group-sm" role="group">
            <button *ngIf="selectedItem && selectedItemIdx >= 0" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteItem()">Remove</button>
            <button type="button" class="btn btn-success" [disabled]="!itemForm.valid" data-dismiss="modal" (click)="saveItem()">Save</button>
          </div>

        </div>
      </form>


    </div>
  </div>
</div>
