<div class="row text-center">
  <div class="col-lg-4">
    <i class="fa fa-database fa-5x"></i>
    <h3>Manage Inventory</h3>
    <p>
      Keep track of all your kitchen inventory.
    </p>
    <p>
      Break your kitchen down into smaller, more manageable <strong>Collections</strong> such as <em>Fridge</em>, <em>Freezer</em>, <em>Pantry</em> etc.
    </p>
    <p>Add items to each collection along with the current quantity. As you cook meals items will automatically deduct from your inventory based on your recipes and alert you when relevant stocks are low. As you do your shopping items will automatically be added to your inventory.</p>
    <p>
      <a class="btn btn-lg btn-primary" routerLink="/categories" role="button">Go »</a>
    </p>
    <hr/>
  </div>
  <div class="col-lg-4">
    <i class="fa fa-cutlery fa-5x"></i>
    <h3>Save Recipes</h3>
    <p>
      Log all of your recipes
    </p>
    <p>
      Save your recipes in a simple, easy to read format.
    </p>
    <p>
      <a class="btn btn-lg btn-primary" routerLink="/recipes" role="button">Go »</a>
    </p>
    <hr/>
  </div>
  <div class="col-lg-4">
    <i class="fa fa-calendar fa-5x"></i>
    <h3>Plan Meals</h3>
    <p>
      Plan out what you wish to cook day by day and see previous plans.
    </p>
    <p>
      Once you are happy with your plan, simple generate your shopping list. We will inform you of what items are low in your inventory and what you have plenty off.
    </p>
    <p>
      Once you have cooked a meal, simply mark it as <strong>cooked</strong> and we will automatically deduct the relevant items from your inventory.
    </p>
    <p>
      <a class="btn btn-lg btn-primary" routerLink="/planner" role="button">Go »</a>
    </p>
    <hr/>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-4">
    <i class="fa fa-shopping-cart fa-5x"></i>
    <h3>Smart Shopping List</h3>
    <p>
      Create shopping lists based on recipes and/or plans
    </p>
    <p>
      Add recipes to your shopping list or simply create a shopping list from your meal plan.
    </p>
    <p>Shopping lists will look at what you already have in your inventory and will only add items that you need.</p>
    <p>Once you check off items from your shopping list they will automatically be added to your inventory.</p>
    <p>
      <a class="btn btn-lg btn-primary" routerLink="/shopping" role="button">Go »</a>
    </p>
    <hr/>
  </div>
</div>
