<div class="panel panel-default" *ngIf="!category">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 text-center">
        <i *ngIf="!failure" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span *ngIf="failure" class="text-danger">{{failure}}</span>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="categoryForm" (ngSubmit)="saveCategory()" *ngIf="category">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" [class.has-error]="category.formErrors.name">
                <div class="input-group">
                  <input [(ngModel)]="category.name" type="text" id="name" class="form-control" formControlName="name" required placeholder="Name. (e.g. Fridge, Pantry, etc)"
                    autocomplete="off">
                </div>
                <div *ngIf="category.formErrors.name">
                  <span class="text-danger field-validation-error">{{ category.formErrors.name }}</span>
                </div>
              </div>
            </div>
          </div>
          <br>
          <ul class="list-group" *ngIf="category.items && category.items !== null && category.items.length > 0">
            <li *ngFor="let item of category.items" class="list-group-item pointer" data-toggle="modal" data-target="#itemFormModal"
              (click)="setItem(item)">
              <div class="row">
                <div class="col-xs-10" [class.text-warning]="item.quantity === 1" [class.text-danger]="item.quantity < 1">
                  {{item.name}}
                </div>
                <div class="col-xs-2 text-right">
                  <span [class.text-primary]="item.quantity > 1" [class.text-warning]="item.quantity === 1" [class.text-danger]="item.quantity < 1">
                    <strong><span *ngIf="item.quantity >= 1">x</span>{{item.quantity}}</strong>
                  </span>
                </div>
              </div>
            </li>
          </ul>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#itemFormModal" (click)="setItem()"><i class="fa fa-plus"></i> Add Item</button>
            </div>
          </div>
          <br>
          <div class="row" *ngIf="failure">
            <div class="col-sm-12">
              <div>
                <span class="text-danger field-validation-error">{{failure}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-12 text-right">
              <button type="button" class="btn btn-sm btn-primary pull-left" (click)="goBack()">Back</button>
              <div class="btn-group btn-group-sm" role="group">
                <button *ngIf="category && category.id && category.id > 0" type="button" class="btn btn-danger" (click)="deleteCategory()">Remove</button>
                <button type="submit" class="btn btn-success" [disabled]="!categoryForm.valid">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="modal" id="itemFormModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 *ngIf="activeItem && activeItem.id > 0" class="modal-title">Edit Item</h4>
        <h4 *ngIf="!activeItem || !activeItem.id || activeItem.id <= 0" class="modal-title">Add Item</h4>
      </div>

      <form [formGroup]="itemForm" *ngIf="activeItem">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" [class.has-error]="activeItem.formErrors.itemName">
                <div class="input-group">
                  <input [(ngModel)]="activeItem.name" type="text" id="itemName" class="form-control" formControlName="itemName" required placeholder="Item name"
                    autocomplete="off" (keyup)="search()">
                </div>
                <div *ngIf="activeItem.formErrors.itemName">
                  <span class="text-danger field-validation-error">{{ activeItem.formErrors.itemName }}</span>
                </div>
                 <div class="typeahead">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let searchResult of itemsSearchResult | async" (click)="selectSearchItem(searchResult)">
                      {{searchResult.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" [class.has-error]="activeItem.formErrors.quantity">
                <div class="input-group">
                  <input [(ngModel)]="activeItem.quantity" type="number" id="quantity" class="form-control" formControlName="quantity" required
                    placeholder="Quantity" autocomplete="off">
                </div>
                <div *ngIf="activeItem.formErrors.quantity">
                  <span class="text-danger field-validation-error">{{ activeItem.formErrors.quantity }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal" id="mdDismis">Cancel</button>
          <div class="btn-group btn-group-sm" role="group">
            <button *ngIf="activeItem && activeItem.id > 0" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteItem()">Remove</button>
            <button type="button" class="btn btn-success" [disabled]="!itemForm.valid" data-dismiss="modal" (click)="saveItem()">Save</button>
          </div>

        </div>
      </form>


    </div>
  </div>
</div>
