<nav class="navbar navbar-default navbar-fixed-top" *ngIf="token != null">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleCollapse()" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Kitchen Cupboard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" [class.collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a routerLink="/categories">
          <strong><i class="fa fa-database"></i> Inventory</strong></a>
        </li>
        <li><a routerLink="/recipes">
          <strong><i class="fa fa-cutlery"></i> Recipies</strong></a>
        </li>
        <li><a routerLink="/planner">
          <strong><i class="fa fa-calendar"></i> Planner</strong></a>
        </li>
        <!-- <li><a routerLink="/recipes">
          <strong><i class="fa fa-shopping-cart"></i> Cart <span class="badge">3</span></strong></a>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a (click)="logout()"><strong><i class="fa fa-sign-out"></i> Logout</strong></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top" *ngIf="token == null">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>Kitchen Cupboard</h4>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
