<div *ngIf="!recipe; then noRecipe else hasRecipe">
</div>

<ng-template #noRecipe>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 text-center">
          <i *ngIf="!failure" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span *ngIf="failure" class="text-danger">{{failure}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #hasRecipe>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <ng-container *ngTemplateOutlet="recipePlan"></ng-container>
          <div class="row">
            <div class="col-sm-12">
              <h4>{{recipe.name | titlecase}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="text-muted">Recipe Group: </span>
              <span class="text-info">{{recipe.recipeType.name | titlecase}}</span>
            </div>
          </div>
          <br/>
          <ng-container *ngTemplateOutlet="recipeIngredients"></ng-container>
          <br/>
          <ng-container *ngTemplateOutlet="recipeSteps"></ng-container>

          <br/>
          <div class="row" *ngIf="failure">
            <div class="col-sm-12">
              <div>
                <span class="text-danger field-validation-error">{{failure}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-6 text-left">
              <button *ngIf="recipe.key" type="button" class="btn btn-default" data-toggle="modal" data-target="#shareModal"><i class="fa fa-share-alt"></i> Share</button>
            </div>
            <div class="col-xs-6 text-right">
              <button type="button" class="btn btn-success" (click)="editRecipe()">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #recipeIngredients>
  <div class="panel panel-primary">
    <div class="panel-heading pointer" data-toggle="collapse" data-target="#collapseIngredients" aria-expanded="true" aria-controls="collapseIngredients">Ingredients</div>
    <ul class="list-group list-ingredients collapse in" id="collapseIngredients" *ngIf="recipe.recipeItems && recipe.recipeItems.length > 0">
      <li *ngFor="let item of recipe.recipeItems" class="list-group-item">
        <!-- <div class="row">
          <div class="col-xs-9">
            {{item.item.name | titlecase}}
            <span class="text-muted" *ngIf="item.instructions">
                      <em>({{item.instructions | lowercase}})</em>
                    </span>
          </div>
          <div class="col-xs-3 text-right">
            <span class="text-primary"><strong>{{item.amount}} {{item.item.unitType | lowercase}}</strong></span>
          </div>
        </div> -->
        <div class="row">
          <div class="col-xs-9">
            <div class="checkbox" [class.text-muted]="item.isDone">
              <label>
                <input [(ngModel)]="item.isDone" type="checkbox" [checked]="item.isDone" >
                {{item.item.name | titlecase}}
              </label>
            </div>
          </div>
          <div class="col-xs-3 text-right">
              <span [class.text-muted]="item.isDone" [class.text-primary]="!item.isDone"><strong>{{item.amount}} {{item.item.unitType | lowercase}}</strong></span>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-7">
              <span [class.text-muted]="item.isDone" [class.text-info]="!item.isDone" *ngIf="item.instructions">
                <em>{{item.instructions | lowercase}}</em>
              </span>
          </div>
          <div class="col-xs-5 text-right">
              <button *ngIf="!item.flaggedForNextShop" (click)="addToShopping(item)" class="btn btn-xs" [class.btn-default]="item.isDone" [class.btn-primary]="!item.isDone">add to next shop</button>
              <span [class.text-muted]="item.isDone" [class.text-info]="!item.isDone" *ngIf="item.flaggedForNextShop">
                <em>added to next shop</em>
              </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #recipeSteps>
  <div class="well" *ngFor="let step of recipe.recipeSteps">
    <div class="row">
      <div class="col-xs-2">
        <h4 [class.text-muted]="step.isDone" [class.text-primary]="!step.isDone">{{step.stepNumber}}</h4>
      </div>
      <div class="col-xs-10" [class.text-muted]="step.isDone">{{step.description}}</div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <div class="checkbox">
          <label>
            <input [(ngModel)]="step.isDone" type="checkbox" [checked]="step.isDone" >
          </label>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #recipePlan>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div *ngIf="recipe.assignedPlans && recipe.assignedPlans.length > 0;then onPlan else addToPlan"></div>
      <ng-template #addToPlan>
        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#dayPlanModal" (click)="getPlans()"><i class="fa fa-plus"></i> Add to plan</button>
      </ng-template>
      <ng-template #onPlan>
        <span class="text-info">You next plan on cooking this on</span><br/>
        <a routerLink="/planner" class="btn btn-default btn-sm">{{recipe.nextPlan().format("dddd, MMM Do")}}</a>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br/>
    </div>
  </div>
</ng-template>

<!-- Modal for share -->
<div class="modal" id="shareModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span class="modal-title"><strong>To share this recipe, simply use the following link</strong></span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" value="{{shareUrl}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for plan -->
<div class="modal" id="dayPlanModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span class="modal-title"><strong>When would you like to cook this?</strong></span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <select [(ngModel)]="selectedPlanId" class="form-control">
                        <option *ngFor="let plan of plansSelect" [value]="plan.key">{{plan.value}}</option>
                    </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal">Cancel</button>
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="savePlan()">Save</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="alert alert-info snackbar" [class.show]="showNotification">{{shoppingItemName}} will be added to the next shop.</div>
