<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" [class.has-error]="account.formErrors.name">
                <div class="input-group">
                  <input [(ngModel)]="account.userName" type="text" id="name" class="form-control" formControlName="name" required placeholder="User name" autocomplete="off">
                </div>
                <div *ngIf="account.formErrors.name">
                  <span class="text-danger field-validation-error">{{ account.formErrors.name }}</span>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" [class.has-error]="account.formErrors.password">
                <div class="input-group">
                  <input [(ngModel)]="account.password" type="password" id="password" class="form-control" formControlName="password" required placeholder="Password" autocomplete="off">
                </div>
                <div *ngIf="account.formErrors.password">
                  <span class="text-danger field-validation-error">{{ account.formErrors.password }}</span>
                </div>
              </div>
            </div>
          </div>

          <br>
          <div class="row" *ngIf="failure">
            <div class="col-sm-12">
              <div>
                  <span class="text-danger field-validation-error">{{failure}}</span>
                </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<br>
<div class="row">
  <div class="col-sm-12 text-center">
      <span>No account? </span> <a routerLink="/register">register here</a>
  </div>
</div>
