<div class="panel panel-default" *ngIf="!categories">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 text-center">
        <i *ngIf="!failure" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span *ngIf="failure" class="text-danger">{{failure}}</span>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" *ngIf="categories && categories.length <= 0">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 text-center">
        <span><strong>You have not created any inventory sections.</strong></span><br><br>
        <span class="text-muted">Use this page to keep track of all your kitchen inventory.</span><br>
        <span class="text-muted">
          To make keeping track of what you have in your kitchen easier you can use this page to break up your kitchen into smaller, more manageable sections
          such as <strong>Fridge</strong>, <strong>Freezer</strong>, <strong>Pantry</strong> etc
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="categories && categories.length > 0">
  <div class="col-sm-4" *ngFor="let category of categories">
    <div (click)="onSelect(category)" class="panel panel-default pointer">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3>{{category.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a routerLink="/categorydetail/0" class="btn btn-success btn-lg"><i class="fa fa-plus"></i> Add Section</a>
      </div>
    </div>
  </div>
</div>
