<div *ngIf="recipe && recipe != null; then hasRecipe else noRecipe"></div>

<ng-template #noRecipe>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 text-center">
              <span class="text-danger">Unable to load recipe</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #hasRecipe>
  <div class="row">
    <div class="col-sm-12">
      <h2>{{recipe.name | titlecase}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Ingredients:</h4>
    </div>
  </div>
  <div class="row" *ngFor="let item of recipe.recipeItems">
    <div class="col-xs-2"><strong>{{item.amount}} {{item.item.unitType | lowercase}}</strong></div>
    <div class="col-xs-10">
      {{item.item.name}}
      <span *ngIf="item.instructions && item.instructions != null && item.instructions.length > 0">
        <em>({{item.instructions | lowercase}})</em>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Method:</h4>
    </div>
  </div>
  <div *ngFor="let step of recipe.recipeSteps">
    <div class="row">
      <div class="col-xs-2"><strong>{{step.stepNumber}}</strong></div>
      <div class="col-xs-10">
        {{step.description}}
      </div>
    </div>
    <br/>
  </div>
</ng-template>
